<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>TheWarTestbench</title>
<link
  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Oswald:400,300'
  rel='stylesheet' type='text/css'>

<link rel="import" href="player_info.html">
<link rel="import" href="game_info.html">

<link rel="stylesheet" type="text/css" href="thewar.css">
<link rel="stylesheet" href="thewartestbench.css">
</head>
<body game-ctrl>

  <div class="header">
    <h1 class="title">The War testbench</h1>
  </div>

  <div class="ctrl_panel">
    <input type="button" ng-click="ctrl.initGame()"
      ng-if="!ctrl.gameActive" value="Init game"> <input
      type="button" ng-click="ctrl.playTurn()" ng-if="ctrl.gameActive"
      value="Play Turn">
  </div>

  <div class="game_info">{{ctrl.gameState}}</div>

  <div class="player_info">
    <h2>Ordo Vellum</h2>

    <player-info id="ovpi"></player-info>

  </div>
  <div class="player_info">
    <h2>FB/Advance</h2>

    <player-info id="fbpi"></player-info>

  </div>
  <div class="player_info">
    <h2>Cult of Fenrir</h2>

    <player-info id="fepi"> </player-info>

  </div>

  <div  style="clear:both">
    <game-info id="game_log"></game-info> 
  </div>

  <script type="application/dart" src="thewartestbench.dart"></script>
  <script src="packages/browser/dart.js"></script>
</body>
</html>
