<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>TheWarTestbench</title>
<link
  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Oswald:400,300'
  rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="thewar.css">
<link rel="stylesheet" href="thewartestbench.css">
</head>
<body game-ctrl>
  <div id="header">
    <h1 class="title">The War - simplified play simulation</h1>
    <p>{{ctrl.result}}</p>
  </div>
  
  <div id="controls_id">
    <button ng-click="ctrl.runWith()">Init with random seed</button>
    <button ng-click="ctrl.playTurn()">Play round</button>
  </div>

  <div id="gamelog_id">


    <h2>Gamelog</h2>
    <p>
      <input ng-model="note" type="checkbox" value="true"
        ng-click="ctrl.noteHack(note)"> Hide notes
    <p>
      <input ng-model="remark" type="checkbox" value="true"
        ng-click="ctrl.remarkHack(remark)"> Hide remarks
    <p class="logitem {{line.player}} {{line.level}}"
      ng-repeat="line in ctrl.gamelog">{{line.gamestate}}</p>
  </div>

<div id="game_info_id">
    <div class="player_info">
      <h2>Ordo Vellum +{{ctrl.game.players[0].endpower()}}</h2>
      <h4>In play +{{ctrl.game.players[0].inplay.influencePotential()}}i</h4>
      <ul>
        <li ng-repeat="line in ctrl.inplay">{{line.name}}
          <ul>
            <li ng-repeat="line2 in line.cardsOnCard">{{line2.name}}</li>
          </ul>
        </li>
      </ul>
      <p></p>
      <h4>Hand</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[0].hand">{{card.name}}</li>       
      </ul>
      <h4>Discard</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[0].discard">{{card.name}}</li>
      </ul>
      <h4>Deck</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[0].deck">{{card.name}}</li>
      </ul>
    </div>
    
    <div class="player_info">
      <h2>Cult of Fenrir +{{ctrl.game.players[1].endpower()}}</h2>
      <h4>In play +{{ctrl.game.players[1].inplay.influencePotential()}}i</h4>
      <ul>
        <li ng-repeat="line in ctrl.inplay2">{{line.name}}
          <ul>
            <li ng-repeat="line2 in line.cardsOnCard">{{line2.name}}</li>
          </ul>
        </li>
      </ul>
      <p></p>
      <h4>Hand</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[1].hand">{{card.name}}</li>       
      </ul>
      <h4>Discard</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[1].discard">{{card.name}}</li>
      </ul>
      <h4>Deck</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[1].deck">{{card.name}}</li>
      </ul>
    </div>
    
    <div class="player_info">
      <h2>FB/AG +{{ctrl.game.players[2].endpower()}}</h2>
      <h4>In play +{{ctrl.game.players[2].inplay.influencePotential()}}i</h4>
      <ul>
        <li ng-repeat="line in ctrl.inplay3">{{line.name}}
          <ul>
            <li ng-repeat="line2 in line.cardsOnCard">{{line2.name}}</li>
          </ul>
        </li>
      </ul>
      <p></p>
      <h4>Hand</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[2].hand">{{card.name}}</li>       
      </ul>
      <h4>Discard</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[2].discard">{{card.name}}</li>
      </ul>
      <h4>Deck</h4>
      <ul>
        <li ng-repeat="card in ctrl.game.players[2].deck">{{card.name}}</li>
      </ul>
    </div>
    
    

  </div>

  

  <script type="application/dart" src="thewartestbench.dart"></script>
  <script src="packages/browser/dart.js"></script>
</body>
</html>
